@media(max-width: 1616px) {
    .imagenesflex {
        display: none
    }

    .imagenesgrid img {
        height: 70%;
        width: 100%
    }
}

@media(max-width: 1024px) {
    .mapa {
        flex-direction: column
    }

    .vertical {
        padding-bottom: 1.5rem;
    }

    .mainFunciones {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mainAlgebra {
        flex-direction: column
    }

    .formoak {
        width: 100%;
    }

    .formoak img {
        display: none;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .div1 {
        flex-direction: column-reverse;
    }

    .div1 img {
        width: 50%;
        height: 50%;
    }

    .div2 {
        flex-direction: column-reverse;
    }

    .div2 img {
        width: 50%;
        height: 50%;
    }

    .div3 {
        flex-direction: column;
    }
}


@media(max-width: 720px) {
    .horizontal {
        flex-direction: column;
    }

    .vertical iframe {
        width: 100%;
        height: 100%;
    }

    .mainObjetivo h1 {
        font-size: 5rem;
    }

    @media(max-width: 540px) {
        .header {
            flex-direction: column;
        }

        .header nav ul {
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;
        }

        .ejerDiv img {
            height: 90%;
            width: 90%
        }

        .mainHistoria h1 {
            padding-top: 15rem;
        }

    }

    @media(max-width: 480px) {
        .footer {
            flex-direction: column;
        }

        .mainIndex h1 {
            font-size: 50px;
        }

        .horizontal img {
            width: 100%;
        }

        .horizontal {
            padding: 0;
        }

        .display {
            flex-direction: column;
        }

        .textoOnline {
            padding: 2rem;
        }

        .ejerDiv h1 {
            font-size: 3.5rem;
        }

        .mainContenido h1 {
            font-size: 3.5rem;
        }

        .funciones img {
            height: 95%;
            width: 95%
        }

        .algebra img {
            height: 80%;
            width: 80%
        }

        .mainObjetivo h1 {
            font-size: 3.5rem;
        }

        .indexSection h2 {
            font-size: 2.8rem;
        }

        .mainObjetivo section form label input {
            width: 200px;
        }

        .mainHistoria h1 {
            font-size: 4rem;
        }

        .mainHistoria section h2 {
            font-size: 3.5rem
        }

        .textarea {
            max-width: 220px
        }
    }
}