@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');


$colorFondo: linear-gradient(to right top, #ffe4c4, #e8dcb2, #ccd6a5, #accfa0, #87c8a1, #5ec0ae, #30b6be, #00aacb, #4396d2, #7b7dc3, #a1619e, #ad4a6c);

$paleta:(
    'uno': #e9bd15,
    'dos': #7b7dc3,
    'tres': beige,
    'cuatro': #3d3d3d,
    'cinco': white,
    'seis': black,
    'siete': brown,
    'ocho': whitesmoke,

);

$sizeh1: 5rem;
$sizeP: 1.5rem;
$sizeh2: 3.75rem;
$sizeh3: 3.125rem;
$sizeF: 1.8rem;

$letrah: 'Oleo Script Swash Caps', cursive;
$letraP: verdana;

$medidaEstandar: 1rem