@import "_variables.scss";

#navMio {
    background-color: $colorNav;
    align-items: center;
    width: 100%;
}

#navLetra {
    font-size: 2rem;
    &:hover {
        border: solid 2px black;
        background-image: $colorFondo
    } 
}


#imgCar {
    height: 100%;
    width: 100%;
    padding: 3rem;
}

#imgcard {
    height: 100%;
}

#carouselExampleControls {
    background-image: $colorFondo;
}

#card-group {
    background-image: $colorFondo;
}

main {
    background-image: $colorFondo
}

.mainIndex h1 {
    text-align: center;
    font-size: $sizeh1;
    font-family: $letrah;
    color: $color1;
    padding: $medidaEstandar;
}

.horizontal {
    display: flex;
    align-items: center;
    padding-left: $medidaEstandar;

    img {
        border: 2px solid brown
    }

    p {
        font-size: 1.5rem;
        font-family: letraP;
        padding-left: $medidaEstandar;
    }
}

.parrafocenter {
    text-align: center;
    font-size: $sizeP;
    padding-bottom: 0.5rem;
}

.textoOnline {
    font-size: 1.5rem;
    font-family: $letraP;
}

.indexSection h2 {
    animation: flash;
    animation-duration: 5s;
    animation-delay: 0;
    font-family: $letrah;
    text-align: center;
    color: $color3;
    font-size: $sizeh2;
    padding-bottom: $medidaEstandar ;
}

.imgDisplay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

}

.imgDisplay img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.display2 {
    display: flex;
    padding-right: $medidaEstandar;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 40%;

    h3 {
        font-family: $letrah;
        text-align: center;
        color: $color2;
        font-size: $sizeh3;
    }
}

.display {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.mapa {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem;

    h3 {
        font-family: $letrah;
        text-align: center;
        color: $color3;
        font-size: $sizeh3;
    }

    p {
        font-size: $sizeP;
        font-family: $letraP;
        padding-right: $medidaEstandar;
    }
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-family: $letrah;
        text-align: center;
        color: $color2;
        font-size: $sizeh3;
    }
}

.footer {
    display: flex;
    background-color: $colorNav;
    justify-content: right;
    align-items: center;
    color: whitesmoke;
    font-size: 2rem;
    font-family: $letrah;
    padding-right: 0.5rem;

    a img {
        height: 70px;
        width: 70px;
        margin-right: 0.3rem;
        margin-left: 0.7rem;
        border: 2px solid black;
        margin-top: 0.8rem;
    }
}

.mainObjetivo {
    h1 {
        text-align: center;
        font-size: $sizeh1;
        font-family: $letrah;
        color: $color1;
        padding: $medidaEstandar;
    }
    section{
        h2 {
        animation: flash;
        animation-duration: 30s;
        animation-delay: 0;
        font-family: $letrah;
        text-align: center;
        color: $color3;
        font-size: sizeh2;
        padding: 2rem;
    }
        p {
        padding-left: $medidaEstandar;
        font-size: $sizeP;
        font-family: $letraP;
    }
}
}

.principal {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-bottom: $medidaEstandar;

    img {
        border: 3px solid black
    }

    section {
        h2 {
            animation: flash;
            animation-duration: 30s;
            animation-delay: 0;
            font-family: $letrah;
            text-align: center;
            color: $color3;
            font-size: $sizeh2;
            padding: 2rem;
        }

        p {
            padding-left: $medidaEstandar;
            font-size: $sizeP;
            font-family: $letraP;
        }
        form label {
           font-size: $sizeF;
            padding-left: 1.5rem;
            input {
                height: 1.1rem;
                border-radius: 1.3rem;
                border: 3px solid black;
                width: 300px;
            }
            textarea {
                height: 300px;
                border-radius: 1.2rem;
                border: 3px solid black;
                margin-left: 1.5rem;
                margin-top: $medidaEstandar;
                width: 400px;
            }
    }
}

.separado {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: letraP;
}

.reputacion {
    margin-left: 15px;
    margin-top: 20px;
}

.boton1 {
    font-size: $medidaEstandar;
    margin-left: 1.8rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: 10rem;
    border-radius: 1.2rem;
    border: 3px solid black;
    &:hover {
    background-color: black;
    color: white;
    border: 3px solid red;
}
}

.mainEjercicios {
    background-color: bisque;
    p {
        padding-left: $medidaEstandar;
        padding-bottom: $medidaEstandar;
        font-size: 1.5rem;
        font-family: $letraP;
        a {
            font-size: 2rem;
            text-decoration: none;
            color: $color1;
        }
    }
    h1 {
        text-align: center;
        font-size: $size h1;
        font-family: $letrah;
        color: $color1;
        padding: $medidaEstandar;
    }
}

.ejerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
        font-size: 5rem;
        font-family: $letrah;
        color: $color1;
        padding: $medidaEstandar;
    }
    img {
        height: 300px;
        width: 500px;
        border: 3px solid #ad4a6c;
        margin-bottom: $medidaEstandar;
    }
}


.funciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

.mainFunciones {
    display: flex;
    align-items: center;
}

.funciones h2 {
    animation: pulse;
    animation-duration: 30s;
    animation-delay: 0;
    font-family: 'Oleo Script Swash Caps';
    text-align: center;
    color: beige;
    font-size: 4rem;
}

.mainFunciones p {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-family: verdana;
}

.funciones img {
    height: 300px;
    width: 350px;
    border: 3px solid black
}


.algebra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

.mainAlgebra {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.mainAlgebra p {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-family: verdana;
}

.algebra h2 {
    animation: flash;
    animation-duration: 30s;
    animation-delay: 0;
    font-family: 'Oleo Script Swash Caps';
    text-align: center;
    color: beige;
    font-size: 4rem;
}

.algebra img {
    height: 300px;
    width: 350px;
    border: 3px solid black
}

.mainHistoria h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Oleo Script Swash Caps';
    color: #e9bd15;
    padding: 1rem;
    animation: bounce;
    animation-duration: 30s;
    animation-delay: 0;

}

.mainHistoria section h3 {
    color: #7b7dc3;
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.div1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.div1 img {
    margin: 1rem;
    height: 90%;
    width: 90%;
    border: 3px solid black
}

.div1 p {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-family: verdana;
}

.div2 {
    display: flex;
    align-items: center;
}

.div2 img {
    margin: 1rem;
    height: 90%;
    width: 90%;
    border: 3px solid black
}

.div2 p {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: verdana;
}

.mainHistoria h2:hover {
    background-color: brown;
    color: black
}

.mainHistoria h2 {
    animation: flash;
    animation-duration: 30s;
    animation-delay: 0;
    font-family: 'Oleo Script Swash Caps';
    text-align: center;
    color: beige;
    font-size: 5rem;
    padding-top: 2.5rem;
}

.div3 {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.div3 p {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: verdana;
}

.div3 img {
    margin: 1rem;
    height: 60%;
    width: 60%;
    border: 3px solid black
}


.grid {
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "parrafo parrafo"
        "formulario imagenes";
    padding: 1rem;
    gap: 1rem;
}

.grid h2 {
    animation: flash;
    animation-duration: 30s;
    animation-delay: 0;
    grid-area: titulo;
}

.grid p {
    grid-area: parrafo;
}

.grid form {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenesgrid {
    grid-area: imagenes;
    display: flex;
    justify-content: right;
}

.imagenesgrid img {
    height: 35rem;
    width: 35rem;
}

.imagenesflex {
    display: flex;
    flex-direction: column;
}

.imagenesflex img {
    height: 15rem;
    width: 30rem;
    padding-left: 4rem;
    padding-top: 1rem;
}

.formoak {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formoak form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formoak form input {
    margin: 1rem;
    align-items: center;
}

.formoak img {
    height: 35rem;
    width: 30rem;
}

/* --------- Media Query ----------- */

@media(max-width: 1616px) {
    .imagenesflex {
        display: none
    }

    .imagenesgrid img {
        height: 70%;
        width: 100%
    }
}

@media(max-width: 1024px) {
    .mapa {
        flex-direction: column
    }

    .vertical {
        padding-bottom: 1.5rem;
    }

    .mainFunciones {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mainAlgebra {
        flex-direction: column
    }

    .formoak {
        width: 100%;
    }

    .formoak img {
        display: none;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .div1 {
        flex-direction: column-reverse;
    }

    .div1 img {
        width: 50%;
        height: 50%;
    }

    .div2 {
        flex-direction: column-reverse;
    }

    .div2 img {
        width: 50%;
        height: 50%;
    }

    .div3 {
        flex-direction: column;
    }
}


@media(max-width: 720px) {
    .horizontal {
        flex-direction: column;
    }

    .vertical iframe {
        width: 100%;
        height: 100%;
    }

    .mainObjetivo h1 {
        font-size: 5rem;
    }

    @media(max-width: 540px) {
        .header {
            flex-direction: column;
        }

        .header nav ul {
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;
        }

        .ejerDiv img {
            height: 90%;
            width: 90%
        }

        .mainHistoria h1 {
            padding-top: 15rem;
            animation: heartBeat;
            animation-duration: 30s;
        }

    }

    @media(max-width: 480px) {
        .footer {
            flex-direction: column;
        }

        .mainIndex h1 {
            font-size: 50px;
        }

        .horizontal img {
            width: 100%;
        }

        .horizontal {
            padding: 0;
        }

        .display {
            flex-direction: column;
        }

        .textoOnline {
            padding: 2rem;
        }

        .ejerDiv h1 {
            font-size: 3.5rem;
        }

        .mainContenido h1 {
            font-size: 3.5rem;
        }

        .funciones img {
            height: 95%;
            width: 95%
        }

        .algebra img {
            height: 80%;
            width: 80%
        }

        .mainObjetivo h1 {
            font-size: 3.5rem;
        }

        .indexSection h2 {
            font-size: 2.8rem;
            padding-bottom: 10rem;
        }

        .mainObjetivo section form label input {
            width: 200px;
        }

        .mainHistoria h1 {
            font-size: 4rem;
        }

        .mainHistoria section h2 {
            font-size: 3.5rem
        }

        .textarea {
            max-width: 220px
        }
    }
}